<h2 mat-dialog-title>Add new Course</h2>
<mat-dialog-content class="md-dialog-container">
    <form (ngSubmit)="submit()" [formGroup]="editCourseForm">
        <h3 mat-dialog-title>Course details:</h3>

        <mat-form-field class="md-form-dialog-container">

            <input autocomplete="on" formControlName="courseName" id="courseName" matInput name="courseName"
                   placeholder="Course Name" required
                   type="text">

        </mat-form-field>
        <br>


        <mat-form-field class="md-form-dialog-container">

            <input autocomplete="on" formControlName="courseAcronym" id="courseAcronym" matInput name="courseAcronym"
                   placeholder="Acronym" required
                   type="text">

        </mat-form-field>
        <br>


        <mat-form-field class="md-form-dialog-container">

            <input autocomplete="on" formControlName="courseMin" id="courseMin" matInput
                   name="courseMin" placeholder="Minimum Team size" required
                   type="text">

        </mat-form-field>
        <br>
        <mat-form-field class="md-form-dialog-container" floatLabel="never">

            <input autocomplete="on" formControlName="courseMax id="courseMax" matInput
                   name="courseMax" placeholder="Maximum Team size" required
                   type="text">

        </mat-form-field>

        <br>

        <mat-form-field class="md-form-dialog-container" floatLabel="never">
            <mat-label> Enable Course</mat-label>
            <mat-select formControlName="courseEnabled" id="courseEnabled">
                <mat-option value="true"> Enabled</mat-option>
                <mat-option value="false"> Disabled</mat-option>
            </mat-select>

        </mat-form-field>

        <br>

        <h3 mat-dialog-title> Virtual Machines Default resources: </h3>
        <mat-form-field class="md-form-dialog-container">

            <input autocomplete="on" formControlName="vmModelName" id="vmModelName" matInput name="vmModelName"
                   placeholder="VM Model Name" required
                   type="text">

        </mat-form-field>

        <br>
        <mat-form-field class="md-form-dialog-container">

            <input autocomplete="on" formControlName="vmModelVcpu" id="vmModelVcpu" matInput name="vmModelVcpu"
                   placeholder="VM Model VCpu"
                   required
                   type="text">

        </mat-form-field>

        <br>
        <mat-form-field class="md-form-dialog-container">

            <input autocomplete="on" formControlName="vmModelDisk" id="vmModelDisk" matInput
                   name="vmModelDisk"
                   placeholder="VM Model Disk" required
                   type="text">

        </mat-form-field>

        <br>
        <mat-form-field class="md-form-dialog-container">

            <input autocomplete="on" formControlName="vmModelMemory" id="vmModelMemory" matInput name="vmModelMemory"
                   placeholder="VM Model Memory"
                   required
                   type="text">

        </mat-form-field>

        <br>


        <mat-dialog-actions class="example-button-row">
            <button [disabled]="!editCourseForm.valid" color="primary" mat-raised-button type="submit">Add</button>
            <button [mat-dialog-close]="false" mat-raised-button type="reset">Cancel</button>
        </mat-dialog-actions>
        <br>
    </form>
</mat-dialog-content>
