<mat-card class="border">
    <mat-card-header>
        <div class="teamLogo" mat-card-avatar></div>
        <mat-card-title>
            <b> {{team.name}} </b>
        </mat-card-title>

        <mat-card-subtitle>
            <div><b>ID:</b>  {{team.id}}</div>
            <div><b>Maximum number of CPUs:</b> {{team.vcpuMAX}} </div>
            <div><b>Maximum disk space: </b>{{team.diskMAX}} </div>
            <div><b>Maximum memory:</b> {{team.memoryMAX}} </div>
            <div><b>Maximum instances allowed:</b> {{team.maxVmInstance}} </div>
            <div><b>Maximum running instances allowed:</b> {{team.runningVmInstance}} </div>

        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button (click)="openEditResourcesDialog(team)" color="primary" mat-raised-button>Edit Team Maximum Resources
            Settings
        </button>

    </mat-card-actions>
    <mat-card-content>
        <!--  <div><p> <b>Virtual machines:</b></p></div>
          <div>
          <mat-list>
              <mat-list-item *ngFor="let team1 of teams | async">
                  {{team1.name}}
              </mat-list-item>
          </mat-list>
          </div>-->


        <div>
            <b> Currently running: {{runningInstances}} Instances</b>
        </div>
        <div>
            <b> Used vCPUs: {{usedVcpu}} vCPUs</b>
        </div>
        <div>
            <b> Used Memory: {{usedMemory}} MB</b>
        </div>
        <div>
            <b> Used Disk: {{usedDisk}} MB</b>
        </div>
        <mat-divider></mat-divider>
        <br>
        <div><b>VMs Instances:</b></div>
        <br>
        <mat-grid-list class="border" cols="2" rowHeight="2:1">
            <mat-grid-tile *ngFor="let vm of vmsInstances">

                <div><b><p *ngIf="vm.status === 'RUNNING'; else elseblock" matBadge="‎" matBadgeColor="primary"><br></p>
                    <ng-template #elseblock><p matBadge="‎" matBadgeColor="warn"></p><br></ng-template>


                    Virtual Machine name: {{vm.name}} <br>
                    Virtual Machine ID: {{vm.id}} <br>
                    Status: {{vm.status}}<br>
                    vCPUs: {{vm.vcpu}}<br>
                    Disk Size: {{vm.memory}} MB<br>
                    Memory Size: {{vm.disk}} MB<br>
                    <div *ngIf="(getVmCreator(this.team.id, vm.id) | async) as student">
                        Created by: {{student.firstName}} {{student.lastName}}  {{student.id}}

                    </div>
                    <p *ngIf="vm.status === 'RUNNING'">
                        <!-- todo che devo fare? --->
                        <button color="primary" mat-raised-button> Open VM Instance</button>
                        <br>
                    </p>
                </b>
                </div>


            </mat-grid-tile>
        </mat-grid-list>

    </mat-card-content>

</mat-card>
