<h1 mat-dialog-title> Homework version </h1>
<div mat-dialog-content >
    <table mat-table [dataSource]="homeworkVersionDataSource" class="table" matSort>
        <ng-container matColumnDef="versionStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Version status</th>
            <td mat-cell *matCellDef="let element"> {{element.versionStatus}} </td>
        </ng-container>
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
            <td mat-cell *matCellDef="let element"> {{dateToString(element.timestamp)}} </td>
        </ng-container>
            <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Content</th>
            <td mat-cell *matCellDef="let element">
                <button mat-button [routerLink]="" 
                        [queryParams]="{teacherContentVersion: element.id, homeworkAssignment: data.assignmentId, homeworkStudent: data.studentId}">View content</button></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</div>
<div>
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <mat-form-field *ngIf="isUploadable()" class="all-width">
            <ngx-mat-file-input formControlName="review" placeholder="Homework review"
             accept=".jpeg, .jpg, .png, .pdf, .txt" required></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
        <div mat-dialog-actions class="button-centered">
            <button mat-button style="color: red;" mat-dialog-close>Close</button>
            <button *ngIf="isUploadable()" mat-button style="color: green;" (click)="setCanReSubmit(true)" [disabled]="reviewForm.invalid">Upload review</button>
            <button *ngIf="isUploadable()" mat-button style="color: green;" (click)="setCanReSubmit(false)" [disabled]="reviewForm.invalid">Upload review definitely</button>
        </div>
    </form>
</div>
