<h1 mat-dialog-title> Homework version </h1>
<div mat-dialog-content>
    <table mat-table [dataSource]="homeworkVersionDataSource" class="mat-elevation-z8" style="width: 100%" matSort>
        <ng-container matColumnDef="versionStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Version status</th>
            <td mat-cell *matCellDef="let element"> {{element.versionStatus}} </td>
        </ng-container>
        <ng-container matColumnDef="timestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Timestamp</th>
            <td mat-cell *matCellDef="let element"> {{dateToString(element.timestamp)}} </td>
        </ng-container>
            <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Content</th>
            <td mat-cell *matCellDef="let element">
                <button mat-button [routerLink]="" 
                        [queryParams]="{teacherContentVersion: element.id, homeworkAssignment: data.assignmentId, homeworkStudent: data.studentId}">View content</button></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</div>
<div mat-dialog-actions style="justify-content: center">
    <button mat-button style="color: red" (click)="dialogRef.close()">Close</button>

    <!-- se è SUBMITTED--> 
    <button mat-button *ngIf="isUploadable()" style="color: green;" [routerLink]=""
    [queryParams]="{teacherUploadReview: true, homeworkAssignment: data.assignment_id, homeworkStudent: data.student_id}">Upload Review</button>
</div>
