<h2 mat-dialog-title>Login</h2>
<mat-dialog-content class="md-dialog-container">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field class="md-form-dialog-container">
            <input autocomplete="on" formControlName="email" type="email" matInput id="email" name="email"
                   placeholder="Email" required text>
            <mat-error *ngIf="loginForm.controls['email'].hasError('pattern')">Email is not valid (enabled domains
                @polito.it, @studenti.polito.it)
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="md-form-dialog-container">
            <input autocomplete="on" formControlName="password" type="password" id="password" name="password" matInput
                   placeholder="Password" required password>
            <mat-error *ngIf="loginForm.controls['password'].hasError('pattern')">Password is not valid (min 1 number or
                1 special character, 1 capital letter, minimum length 8
            </mat-error>
        </mat-form-field>
        <br>
        <mat-dialog-actions class="example-button-row">
            <button color="primary" type="submit" [disabled]="!loginForm.valid" mat-raised-button>Login</button>
            <button type="reset" mat-raised-button [mat-dialog-close]="false">Cancel</button>
        </mat-dialog-actions>
        <br>
    </form>
</mat-dialog-content>
