.md-dialog-container {
    width: 600px;
    height: 460px;
  }
  
.md-form-dialog-container {
    width: 90%;
    height: 90%;
  }
  
  .example-button-row button {
    display: table-cell;
    margin-right: 8px;
  }
  
  input[type="text"] {
    width: 150px;
    display: inline-block;
}


  