.submitter {
    float: right;
}
  
.form-team-name {
    width: 74%;
}
  
.create-team-1 {
    padding-left: 2%;
    width: 60%;
    float: left;
}

.create-team-2 {
    padding-left: 2%;
    width: 30%;
    float: right;
}

.proposals-team {
    width: 100%;
}

.table {
    width: 100%;
}

.errors {
    border: brown;
    padding-top: 10%;
}

