<mat-toolbar color="primary">
  <button *ngIf="currentUser" mat-icon-button (click)="sidebar.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span [routerLink]="['/home']">
    VirtualLabs
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span *ngIf="currentUser"> Hello {{ currentUser.email }} </span>
  <button *ngIf="currentUser; else notLogged" mat-button (click)="logout()">Logout</button>
  <ng-template #notLogged>
    <span>
      <button mat-button routerLink="home" [queryParams]="{doLogin: true}">Login</button>
    </span>
    <span>
      <button mat-button routerLink="home" [queryParams]="{doRegister: true}">Register</button>
    </span>
  </ng-template>
</mat-toolbar>
<mat-toolbar *ngIf="currentUser">
  Applicazioni Internet
</mat-toolbar>
<mat-sidenav-container>
  
  <mat-sidenav #sidebar mode="side" [opened]="navBarOpened" position="start" class="sidenav">
    <div *ngIf="currentUser" class=“container-small”>
      <mat-nav-list>
        <mat-list-item *ngIf="currentUser.roles[0] === 'ROLE_TEACHER'">
          <div>
            <button mat-button>
              Add new Course
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-list-item *ngFor="let course of (courses | async); index as i ">
          <a [routerLink]="[
        currentUser.roles[0].toLowerCase().replace('role_', '') +
          '/courses/' +
          course.acronym + '-' + course.id
      ]"> {{course.fullName}} </a>

          <button [matMenuTriggerFor]="menu" mat-icon-button mat-button>
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openDialogEditCourse(course)">Edit</button>
            <button mat-menu-item>Delete</button>
          </mat-menu>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <!-- current view -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
