<h2 mat-dialog-title>Edit Team's Maximum Resources</h2>
<mat-dialog-content class="md-dialog-container">
    <div>Team Name: {{team.name}}</div>
    <form (ngSubmit)="submit()" [formGroup]="editResourcesForm">
        <h3 mat-dialog-title>Team Resources:</h3>
        <mat-label for="maxVCpu">Maximum vCPUs:</mat-label>
        <mat-form-field class="md-form-dialog-container" floatLabel="never">

            <input autocomplete="on" formControlName="maxVCpu" id="maxVCpu" matInput name="maxVCpu" required
                   type="text">

        </mat-form-field>
        <br>

        <mat-label for="maxDiskSpace">Maximum Disk Space:</mat-label>
        <mat-form-field class="md-form-dialog-container" floatLabel="never">

            <input autocomplete="on" formControlName="maxDiskSpace" id="maxDiskSpace" matInput name="maxDiskSpace"
                   required
                   type="text">

        </mat-form-field>
        <br>
        <mat-label for="maxRam">Maximum RAM:</mat-label>
        <mat-form-field class="md-form-dialog-container" floatLabel="never">

            <input autocomplete="on" formControlName="maxRam" id="maxRam" matInput name="maxRam" required
                   type="text">

        </mat-form-field>
        <br>

        <mat-label for="maxTotalInstances">Maximum number of instances:</mat-label>
        <mat-form-field class="md-form-dialog-container" floatLabel="never">

            <input autocomplete="on" formControlName="maxTotalInstances" id="maxTotalInstances" matInput
                   name="maxTotalInstances" required
                   type="text">

        </mat-form-field>

        <br>

        <mat-dialog-actions class="example-button-row">
            <button [disabled]="!editResourcesForm.valid" color="primary" mat-raised-button type="submit">Edit</button>
            <button [mat-dialog-close]="false" mat-raised-button type="reset">Cancel</button>
        </mat-dialog-actions>
        <br>
    </form>
</mat-dialog-content>
