<h2 mat-dialog-title>Edit Course</h2>
<mat-dialog-content class="md-dialog-container">
    <form [formGroup]="editCourseForm" (ngSubmit)="submit()">
        <h3 mat-dialog-title>Course details:</h3>
        <mat-label for="courseFullName">Fullname:</mat-label>
        <mat-form-field floatLabel="never" class="md-form-dialog-container">

            <input   autocomplete="on" formControlName="courseFullName" type="text" matInput id="courseFullName" name="courseFullName"
                    required >

        </mat-form-field>
        <br>

        <mat-label for="courseAcronym">Acronym:</mat-label>
        <mat-form-field floatLabel="never" class="md-form-dialog-container">

            <input   autocomplete="on" formControlName="courseAcronym" type="text" matInput id="courseAcronym" name="courseAcronym"
                      required >

        </mat-form-field>
        <br>

        <mat-label for="courseMinStudents">Minimum team size:</mat-label>
        <mat-form-field floatLabel="never" class="md-form-dialog-container">

            <input   autocomplete="on" formControlName="courseMinStudents" type="text" matInput id="courseMinStudents" name="courseMinStudents"
                      required >

        </mat-form-field>

        <mat-label for="courseMaxStudents">Maximum team size:</mat-label>
        <mat-form-field floatLabel="never" class="md-form-dialog-container">

            <input   autocomplete="on" formControlName="courseMaxStudents" type="text" matInput id="courseMaxStudents" name="courseMaxStudents"
                      required >

        </mat-form-field>

        <br>

        <mat-label for="courseEnabled">Enabled:</mat-label>
        <mat-form-field floatLabel="never" class="md-form-dialog-container">
            <mat-select formControlName="courseEnabled" id="courseEnabled">
                <mat-option value="true"> Enabled</mat-option>
                <mat-option value="false"> Disabled</mat-option>
            </mat-select>

        </mat-form-field>

        <br>

        <h3 mat-dialog-title> Virtual Machine default resources </h3>


        <mat-dialog-actions class="example-button-row">
            <button color="primary" type="submit" [disabled]="!editCourseForm.valid" mat-raised-button>Edit</button>
            <button type="reset" mat-raised-button [mat-dialog-close]="false">Cancel</button>
        </mat-dialog-actions>
        <br>
    </form>
</mat-dialog-content>
