<h2 mat-dialog-title>Edit Course</h2>
<mat-dialog-content class="md-dialog-container">
    <form [formGroup]="editCourseForm" (ngSubmit)="submit()">
        <h3 mat-dialog-title>Course details:</h3>
        <mat-label for="courseName">Name:</mat-label>
        <mat-form-field floatLabel="never" class="md-form-dialog-container">

            <input   autocomplete="on" formControlName="courseName" type="text" matInput id="courseName" name="courseName"
                    required >

        </mat-form-field>
        <br>

        <mat-label for="courseAcronym">Acronym:</mat-label>
        <mat-form-field floatLabel="never" class="md-form-dialog-container">

            <input   autocomplete="on" formControlName="courseAcronym" type="text" matInput id="courseAcronym" name="courseAcronym"
                      required >

        </mat-form-field>
        <br>

        <mat-label for="courseMin">Minimum team size:</mat-label>
        <mat-form-field floatLabel="never" class="md-form-dialog-container">

            <input   autocomplete="on" formControlName="courseMin" type="text" matInput id="courseMin" name="courseMin"
                      required >

        </mat-form-field>

        <mat-label for="courseMax">Maximum team size:</mat-label>
        <mat-form-field floatLabel="never" class="md-form-dialog-container">

            <input   autocomplete="on" formControlName="courseMax" type="text" matInput id="courseMax" name="courseMax"
                      required >

        </mat-form-field>

        <br>

        <mat-label for="courseEnabled">Enabled:</mat-label>
        <mat-form-field floatLabel="never" class="md-form-dialog-container">
            <mat-select formControlName="courseEnabled" id="courseEnabled">
                <mat-option value="true"> Enabled</mat-option>
                <mat-option value="false"> Disabled</mat-option>
            </mat-select>

        </mat-form-field>

        <br>

        <h3 mat-dialog-title> Virtual Machines Default resources: </h3>


        <br>
        <mat-label for="vmModelVcpu">Maximum vCPUs number:</mat-label>
        <mat-form-field class="md-form-dialog-container" floatLabel="never">

            <input autocomplete="on" formControlName="vmModelVcpu" id="vmModelVcpu" matInput name="vmModelVcpu"
                   required
                   type="text">

        </mat-form-field>

        <br>
        <mat-label for="vmModelDisk">Maximum Disk Space:</mat-label>
        <mat-form-field class="md-form-dialog-container" floatLabel="never">

            <input autocomplete="on" formControlName="vmModelDisk" id="vmModelDisk" matInput
                   name="vmModelDisk" required
                   type="text">

        </mat-form-field>

        <br>
        <mat-label for="vmModelMemory">Maximum RAM size:</mat-label>
        <mat-form-field class="md-form-dialog-container" floatLabel="never">

            <input autocomplete="on" formControlName="vmModelMemory" id="vmModelMemory" matInput name="vmModelMemory"
                   required
                   type="text">

        </mat-form-field>

        <br>
        <br>
        <mat-form-field class="md-form-dialog-container">

            <input autocomplete="on" formControlName="vmModelMaxInstances" id="vmModelMaxInstances" matInput
                   name="vmModelMaxInstances"
                   placeholder="Maximum Instances"
                   required
                   type="text">

        </mat-form-field>
        <br>
        <mat-form-field class="md-form-dialog-container">

            <input autocomplete="on" formControlName="vmModelMaxRunningInstances" id="vmModelMaxRunningInstances"
                   matInput name="vmModelMaxRunningInstances"
                   placeholder="Maximum  Running Instances"
                   required
                   type="text">

        </mat-form-field>
        <br>
        <!--<h3 mat-dialog-title> Virtual Machine Model: </h3>
        <mat-label for="vmModelName">VM model name:</mat-label>
        <mat-form-field class="md-form-dialog-container" floatLabel="never">

            <input autocomplete="on" formControlName="vmModelName" id="vmModelName" matInput name="vmModelName" required
                   type="text">

        </mat-form-field>

        <mat-label for="vmModelConfiguration">VM model configuration:</mat-label>
        <mat-form-field class="md-form-dialog-container" floatLabel="never">

            <input autocomplete="on" formControlName="vmModelConfiguration" id="vmModelConfiguration" matInput name="vmModelConfiguration" required
                   type="text">

        </mat-form-field>
        vmModelName: ['', Validators.required],
            vmModelConfiguration: ['', Validators.required]

        -->


        <mat-dialog-actions class="example-button-row">
            <button color="primary" type="submit" [disabled]="!editCourseForm.valid" mat-raised-button>Edit</button>
            <button type="reset" mat-raised-button [mat-dialog-close]="false">Cancel</button>
        </mat-dialog-actions>
        <br>
    </form>
</mat-dialog-content>
