<div class="container">
  <h3>Students</h3>
  <div class="container">
  <mat-form-field>
    <mat-label>ADD STUDENT</mat-label>
    <input type="search" matInput [formControl]="addStudentControl" placeholder="Search a student" title="Firstname, name or id" [matAutocomplete]="autoComplete" #searchInput/>
    <mat-autocomplete #autoComplete [displayWith]="displayFn" >
      <mat-option *ngFor="let option of searchedStudents | async" [value]="option">
        {{displayFn(option)}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button mat-button color="primary" (click)="addStudent()">Add!</button> <!-- searchInput.value = '' -->
  </div>

  <mat-form-field>
    <ngx-mat-file-input accept=".csv" placeholder="Add students with CSV file"  
        [formControl]="addStudentsCsvControl">
    </ngx-mat-file-input>
    <mat-icon matSuffix>folder</mat-icon>
  </mat-form-field>
  <button mat-button (click)="addStudentsWithCsv()">Add</button><br />

    <button mat-button color="primary" (click)="deleteSelected()">Delete Selected</button>

    <mat-card *ngIf="isFirstPageSelected() && !selection.isEmpty()">Only the first page is selected
      <button mat-button color="primary" (click)="selectAll()"> Select all</button>
    </mat-card>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <!-- Checkbox Column da controllare -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef> 
          <!-- mat-sort-header> -->
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isFirstPageSelected()"
                        [indeterminate]="selection.hasValue() && !isFirstPageSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>
  
      <!-- firstName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>
  
      <!-- Team Column -->
      <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Team </th>
        <td mat-cell *matCellDef="let element"> {{ element.team && element.team.active ? element.team.name : '' }} </td> <!-- // TODO {{element.team}} -->
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay" ></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" ></tr> <!-- (click)="selection.toggle(row)" -->
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
