<mat-card>
    <mat-card-header>
        <div class="teamLogo" mat-card-avatar></div>
        <mat-card-title><b>{{team.name}}</b></mat-card-title>
        <mat-card-subtitle><b>ID: {{team.id}}</b></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <b>
            <div>
                <p>Team's maximum resources:</p><br>
                <p>Maximum Running Instances allowed: {{team.runningVmInstance}} Instances</p>
                <p>Maximum vCPUs allowed: {{team.vcpuMAX}}</p>
                <p>Maximum Memory allowed: {{team.memoryMAX}} MB</p>
                <p>Maximum Disk Space allowes: {{team.diskMAX}} MB</p>
            </div>
            <div>
                <p>Team's VM Instances:</p>
                <mat-grid-list class="border" cols="2" rowHeight="2:1">
                    <mat-grid-tile *ngFor="let vm of vmInstances">

                        <div>
                            <b>
                                <p *ngIf="isVmRunning(vm); else elseblockunivoco" matBadge="‎" matBadgeColor="primary">
                                    <br>
                                </p>
                                <ng-template #elseblockunivoco>
                                    <p matBadge="‎" matBadgeColor="warn"></p><br>
                                </ng-template>


                            Virtual Machine name: {{vm.name}} <br>
                            Virtual Machine ID: {{vm.id}} <br>
                            Status: {{vm.status}}<br>
                            vCPUs: {{vm.vcpu}}<br>
                            Disk Size: {{vm.memory}} MB<br>
                            Memory Size: {{vm.disk}} MB<br>
                            <div *ngIf="vmInstancesCreators.get(vm.id) as student">
                                Created by: {{student.firstName}} {{student.lastName}}  {{student.id}}
                                <div *ngIf="isOwner(team.id,vm.id)">

                                    <button (click)="turnOffVM(vm)" *ngIf="isVmRunning(vm); else elseblock1"
                                            mat-raised-button>
                                        Turn Off VM
                                    </button>
                                    <ng-template #elseblock1>
                                        <button (click)="turnOnVM(vm)" mat-raised-button> Turn
                                            On VM
                                        </button>
                                        <button [queryParams]="{ modifyVmResources: vm.id, teamId: team.id }"
                                                [routerLink]="" color="primary" mat-raised-button>
                                            Modify Resources
                                        </button>
                                        <button (click)="deleteVM(vm)" *ngIf="!isVmRunning(vm)" mat-raised-button>
                                            Delete VM
                                        </button>
                                        <button [queryParams]="{ addOwners: vm.id, teamId: team.id }" [routerLink]=""
                                                color="primary" mat-raised-button>
                                            Add Owners
                                        </button>
                                    </ng-template>

                                </div>

                            </div>
                            <p *ngIf="isVmRunning(vm)">
                                <!-- todo che devo fare? --->
                                <button mat-raised-button color="primary" [routerLink]="" [queryParams]="{ openVmInstance: vm.id, teamId: team.id }">
                                Open VM Instance
                            </button>
                                <br>
                            </p>
                        </b>
                        </div>


                    </mat-grid-tile>
                </mat-grid-list>

            </div>
        </b>
    </mat-card-content>

</mat-card>



