/* You can add global styles to this file, and also import other style files */


html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.right {
    justify-content: flex-end;
}

#header {
    justify-content: flex-end;
}

/* RIGHT align */
.mat-list .mat-list-item.right .mat-list-item-content {
    justify-content: flex-end;
}


.alert-snackbar {
    background-color: darkred;
    text-align: center;
  }
